body {
  background: rgb(125, 198, 205);
  color: rgb(45, 45, 45);
  padding: 10px;
  font-family: Arial, sans-serif;
}

#all-contents {
  max-width: 800px;
  margin: auto;
}

/* navigation menu */
nav {
  background: rgb(239, 80, 41);
  margin: 0 auto;
  display: flex;
  padding: 10px;
  margin-bottom: 20px;
}

h1 {
  display: flex;
  align-items: center;
  color: whie;
  flex: 1;
  margin: 0;
}

#nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-li {
  display: inline-block;
  padding: 0 10px;
}

a {
  text-decoration: none;
  color: #fff;
}

/* main container area beneath menu */
main {
  background: rgb(245, 238, 219);
  display: flex;
  margin-top: 20px;
}

.sidebar {
  margin-right: 25px;
  padding: 10px;
}

.sidebar-img {
  width: 200px;
}

.content {
  flex: 1;
  padding: 15px;
}

/* interests section styles */
#interests {
  border: 10px silver ridge;
  padding: 8px;
  margin-top: 20px;
}


h3 {
  margin: 0px;
}

body {
  background: #f5e4e4;
  color: #ab9393;
}

nav {
  background: #765353;
}

a {
  color: #ffa500;
}

nav {
  background: #31578a;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Portfolio styles */
.content h1 {
  color: rgb(240, 14, 14);
}

#portfolio {
  list-style-type: none;
  padding-left: 0;
}

#portfolio li {
  background: #fff;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 12px;
}

#portfolio li:hover {
  background: #eee;
}

#portfolio a {
  text-decoration: none;
  color: #000000;
}

/* responsive web design */
@media screen and (min-width: 200px) and (max-width: 1080px) {
  main {
    height: 120ch;
    zoom: 1.5;
    display: grid;
  }

  h1 {
    font-size: 55px;
  }

  h2 {
    font-size: 55px;
  }

  h3 {
    font-size: 55px;
  }

  #all-contents {
    height: 120ch;
    margin: none;
  }

  a {
    font-size: 55px;
  }

  .sidebar {
    margin-right: 2x;
    justify-content: center;
    align-items: center;
  }

  .sidebar-img {
    width: 100%;
  }

  li {
    font-size: 55px;
  }

  .content {
    align-content: center;
    justify-content: center;
  }

  #portfolio li {
    border-radius: 20px;
  }
  h1 {
    border: 5px solid red;
  }

  #h1 {
    border-block-end-color: aqua;
  }

  #h2 {
    border-block: 4px dotted blue;
  }

  #div {
    border-block: double;
  }
}
